.main {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/25101.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}
.waldo-container{
    position: relative;
    background-image: url('../../assets/wheres-waldo.jpeg');
    background-size: 700px 700px;
    background-repeat: no-repeat;
    height: 700px;
    width: 700px;
    bottom: 3em;
}
.waldo {
    height: 600px;
    width: 600px;
  
}

#hitbox {
    height: 76px;
    width: 24px;
    cursor: default;
    position: relative;
    border: 1px solid black;
    float: right;
    right: 75px;
    top: 34.2em;
    margin-bottom:0px;
    opacity: 0;
    color: green;
    /* background-color: black; */
}

.start-btn {
    position: relative;
    top: 20em;
}

