.main {
    height: 100%;
    width: 100%;
    background-color: #86A3B8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.waldo-container{
    height: 700px;
    width: 700px;
}
.waldo {
    height: 600px;
    width: 600px;
  
}

#hitbox {
    font-size: 27px;
    position: absolute;
    border: 1px solid black;
    left: 1003px;
    top: 650px;

    margin-bottom:0px;
    /* color: green;
    background-color: black; */
}